.table {
  background-color: #154226;
}

.pokerCard {
  position: absolute;
  border: 1px solid black;
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.5em;
  user-select: none;
  cursor: grab;
  background-color: #fdfcf7;
}
.pokerCard .dragging {
  cursor: grabbing;
}
.top {
  /* display: block; */
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.bottom {
  /* display: block; */
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  transform: rotate(180deg);
  align-self: flex-end;
}

.centerBody {
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  margin: auto;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
}
